<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Name</th>
      <th>Is basic</th>
      <th>Is public</th>
      <th>Serving size</th>
      <th>Calories</th>
      <th>Protein grams</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.parent_id %></td>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.is_basic %></td>
        <td><%= ingredient.is_public %></td>
        <td><%= ingredient.serving_size %></td>
        <td><%= ingredient.calories %></td>
        <td><%= ingredient.protein_grams %></td>
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
